################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vscode
/obj
/.vs/Task15.6.6/FileContentIndex
/bin/Debug/net7.0
/.vs/Task15.6.6/v17
*.csproj
.vs/
